#field {
    width: 640px;
    height: 600px;
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
}

#desk {
    width: 600px;
    height: 600px;
    background-color: green;
    margin: 0 auto;
    float: left;
    background-image: url("Images/Harry.jpg");
    background-size: 600px 350px;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    float: left;    
}

.cell {
    width: 75px;
    height: 75px;
    box-sizing: border-box;
    border: 1px solid black;
}

.cell-white {
    background-color: white;
}

.cell-op {
    opacity: 0.4;
}

.cell-black {
    background-color: black;
    opacity: 1;
}

#horizontal-marking {
    width: 600px;
    height: 20px;
    background-color: green;
    margin: 0 auto;
}

.let-marking {
    background-color: white;
    width: 75px;
    height: 20px;
    float: left;
    text-align: center;
}

#vertical-marking {
    width: 20px;
    height: 600px;
    background-color: green;
    float: left;
}

.num-marking {
    background-color: white;
    width: 20px;
    height: 75px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.bB {
    background-image: url("Images/bB.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bR {
    background-image: url("Images/bR.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bN {
    background-image: url("Images/bN.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bQ {
    background-image: url("Images/bQ.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bK {
    background-image: url("Images/bK.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bP {
    background-image: url("Images/bP.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wR {
    background-image: url("Images/wR.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wQ {
    background-image: url("Images/wQ.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wN {
    background-image: url("Images/wN.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wB {
    background-image: url("Images/wB.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wK {
    background-image: url("Images/wK.png");
    background-position: center;
    background-repeat: no-repeat;
}

.wP {
    background-image: url("Images/wP.png");
    background-position: center;
    background-repeat: no-repeat;
}